/* برای در نظر گرفتن فضای کافی برای نوار جستجو */
.container {
  padding: 0 20px; /* فاصله داخلی به دلیل اطمینان از برخورد محتوا با لبه‌ها */
  max-width: 1300px; /* تطابق عرض با نوار ناوبری */
  background-color: bisque;
    
  margin: 60px auto 0 auto; /* مرکزیت محتوا */
}
.title {
  text-align: center; /* تنظیم موقعیت متن در مرکز */
  color: #333; /* رنگ متنی */
  font-size: 24px; /* اندازه فونت */
  margin: 20px 0; /* فاصله از بالا و پایین */
}
