.form_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.form_container {
  border: 1px solid var(--light-orange);
  border-radius: 8px;
  width: 400px;
  padding: 20px;
  text-align: center;
  position: relative;
  
}
.form_container:hover{
background-color: var(--gray);
border: 1px solid var(--dark-green);
}

.logo {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.form_container h1 {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: var(--black);
}

.input_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  direction: ltr;
}

.fixed_text {
  font-size: 1.3rem;
  margin-right: 1px;
  margin-top: 5px;
  color: var(--btn-bg-hover);
}


.input_container input {
  width: 150px;
  padding:0 5px;
  color: var(--dark-orange);
  border-radius: 5px;
  text-align: left;
  font-size: 1.2rem;
  margin-left: 5px;
  border: 1px solid var(--dark-orange);
}

.form_container:hover .input_container input{
  color: var(--darked-green);
  border: 1px solid var(--dark-green);
}

.input_error {
  
  border: 1px solid var(--darked-orange);
}

.form_container button {
  width: calc(60%);
  padding:5px 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--dark-green);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form_container button:hover {
  background-color: var(--darked-green);
}
.toast {
  position: absolute;
  top: -40%; /* مرکز عمودی */
  left: 0%; /* مرکز افقی */
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  animation: fadeInOut 3s forwards;
  text-align: center;
}

.toast.error {
  background-color: var(--dark-red);
  color: var(--white);
}

.toast.success {
  background-color: var(--dark-green);
  color: var(--white);
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(-50px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-50px); }
}

